* {
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
    list-style: none;  
    text-decoration: none;  
}

.header1 {
    background-color: rgba(0, 0, 0, 0.568);
    height: 70px;
    display: flex;
    color: azure;
}

body {
    background-image: url('./imgs/bc1.jpg');
    margin: 0;
    padding: 0;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.507);
    transition: all .5s ease;
}
.sidebar header {
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    background: rgba(0, 0, 0, 0.651);
    user-select: none;

}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    font-weight: 70px;
    color: rgb(70, 204, 70);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    
}
ul li:hover a{
    padding-left: 50px;
}
#check {
    display: none;

}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: rgb(0, 0, 0);
    border-radius: 3px;

}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 4px 9px;
    transition: all .5s ease;

}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;

}
.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%, 50px);
    margin-left: 25%;
}

footer {
    position: absolute;
    margin-top: 40%;
    color: aliceblue;
    margin-left: 40%;
    font-size: 18px;
    background-color: black;
}
.news1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.753);
    width: 250px;
    height: 250px;
    margin-left: 80%;
    margin-top: 7%;
    transition: .3s ease;
}
.news2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.336);
    width: 250px;
    height: 250px;
    margin-left: 80%;
    margin-top: 20%;
    transition: .3s ease;
}
.news3 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.144);
    width: 250px;
    height: 250px;
    margin-left: 80%;
    margin-top: 33%;
    transition: .3s ease;
}
.news1:hover, .news2:hover, .news3:hover {
    background-color: black;
    padding: 8px;
}
.news1 article {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1rem 1;
    color: azure;
    margin-left: 16%;
    cursor: pointer;
    
    
}
.news1 img {    
    width: 150px;
    margin-left: 6%;
}
.txt1 {
    font-size: 13px;
    margin-top: 2%;
}
.news2 article {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1rem 1;
    color: azure;
    margin-left: 16%;
    cursor: pointer;
    
      
}
.news2 img {
    width: 140px;   
    margin-left: 5%; 
    margin-top: 3%;
    
}
.txt2 {
    margin-top: 10%;
    margin-right: 8%;
    font-size: 13px;
}   
.news3 article{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1rem 1;
    color: azure;
    margin-left: 16%;
    cursor: pointer;

}
.news3 img{
    width: 140px;   
    margin-left: 5%; 
    margin-top: 3%;
}
.txt3 {
    margin-top: 10%;
    margin-right: 8%;
    font-size: 13px;
}
.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;

}
.login-box input {
    width: 100%;
    margin-bottom: 20px;

}
.login-box input[type='text'], input[type='password']{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}
.login-box input[type='text']:hover, input[type='password']:hover {
    border-bottom: 1px solid rgb(47, 252, 29);
    padding: 5px;
}
.login-box input[type='submit']{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;    
    border-radius: 20px;
}
.login-box input[type='submit']:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-left: 29%;
}
.login-box a:hover {
    color: #39dc79;
}